<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lav din Pokemon!</title>
</head>
<body>
    <h1>LAV DIN EGEN POKEMON</h1>
    <form action="create" method="post">
        <label for="pokedex">Pokedex nummer: </label>
        <input name="pokedex_number" type="number">
        
        <label for="name">Navn: </label>
        <input name="name" type="text">

        <label for="speed">Pokedex nummer: </label>
        <input name="speed" type="number">

        <label for="special_defence">Pokedex nummer: </label>
        <input name="special_defence" type="number">

        <label for="special_attack">Pokedex nummer: </label>
        <input name="special_attack" type="number">

        <label for="defence">Pokedex nummer: </label>
        <input name="defence" type="number">

        <label for="attack">Pokedex nummer: </label>
        <input name="attack" type="number">

        <label for="hp">Pokedex nummer: </label>
        <input name="hp" type="number">

        <label for="primary_type">Navn: </label>
        <input name="primary_type" type="text">

        <label for="secondary_type">Navn: </label>
        <input name="secondary_type" type="text">


        <button type="submit">Opret pokemon</button>
    </form>

</body>
</html>