<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater Pokemon</title>
</head>
<body>
<h1>Opdater pokemon</h1>
<table>
    <form action="/update" method="post">

        <tr>
            <td>
                <label>Pokedex nummer: </label>
                <input name="pokedex_number" type="number">
            </td>
        </tr>

        <tr>
            <td>
                <label>Navn: </label>
                <input name="name" type="text">
            </td>
        </tr>

        <tr>
            <td>
                <label>Speed: </label>
                <input name="speed" type="number">
            </td>
        </tr>

        <tr>
            <td>
                <label>Special_defence: </label>
                <input name="special_defence" type="number">
            </td>
        </tr>

        <tr>
            <td>
                <label>Special_attack: </label>
                <input name="special_attack" type="number">
            </td>
        </tr>

        <tr>
            <td>
                <label>Defence: </label>
                <input name="defence" type="number">
            </td>
        </tr>

        <tr>
            <td>
                <label>Attack: </label>
                <input name="attack" type="number">
            </td>
        </tr>

        <tr>
            <td>
                <label>HP: </label>
                <input name="hp" type="number">
            </td>
        </tr>

        <tr>
            <td>
                <label>Primary_Type: </label>
                <input name="primary_type" type="text">
            </td>
        </tr>

        <tr>
            <td>
                <label>Secondary_Type: </label>
                <input name="secondary_type" type="text">
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit">Opret pokemon</button>
            </td>
        </tr>
    </form>
</table>
</body>
</html>